.container {
    width: 90%;
    margin: auto;
}

table {
    margin-top: 1rem;
    width: 100%;
}

mat-form-field {
    width: 100%;
    margin: 1rem 0;
}

.edit {
    color: rgb(82, 30, 117);
}

mat-radio-button {
    padding-left: 1rem;
}